.menu-cabecalho{
    text-decoration: none;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
button{
    background-color: var(--vermelho);
    color: var(--branco);
    border: 1px solid var(--vermelho);
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-size-adjust: 76px, 24px;
    width: 112px;
    height: 44px;
}

.login {
    margin-left: 398px;
    margin-right: 30px;
}